:root {
  /* SLATE */
  --text-color: #434455;
  /* NAVY BLUE */
  --dark-color: #2e2f42;
  --pressed-state: #404bbf;
  --primary-brand: #4d5ae5;
  --basic-white: #ffffff;
  --alt-white: #f4f4fd;
  --customers-icon-base: #8e8f99;
  --cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--basic-white);
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.button {
  display: inline-block;
  font-family: inherit;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 426px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 766px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}
